<h1>全記事一覧</h1>
<% if user_signed_in? %>
  <%= form_tag articles_path, :method => 'get' do %>
      <%= text_field_tag :mysearch, params[:placeholder] = params[:mysearch] %>
      <%= submit_tag "my Article Search" %>
   <% end %>
<% end %>

  <% if @category %>
      カテゴリ検索 "<%= @category.name %>"
  <% end %>

<ul>
  <% @articles.each do |article| %>
      <li>
        <%= article.title %>
        <% if user_signed_in? %>
          <% if current_user.id == article.userid %>
              <%= link_to "[Edit]", edit_article_path(article.id) %>
              <%= link_to "[Delete]", article_path(article.id), method: :delete, data: {
                  confirm: "are you sure?"} %>
          <% end %>
        <% end %>
        (author:<%= User.find(article.userid).email %>)
        <% if article.body.size > 15 %>
            <%= article.body.truncate(15) %>
            <%= link_to "(read more)", article_path(article.id) %>
        <% else %>
            <%= article.body %>
        <% end %>
      </li>
  <% end %>

</ul>

<%= form_tag articles_path, :method => 'get' do %>
    テキスト<%= text_field_tag 'q[search]', params[:placeholder] = params[:q] && params[:q][:search] || '' %> <!-- ここで入力した文字列を params[:search]の値とする  Parameters: {"search" => "入力した値"} -->
    カテゴリ<%= select_tag('q[csearch]', options_for_select(Category.pluck(:name, :id)), :include_blank => true) %>
    <%= submit_tag "Search" %>
<% end %><br>
<p>
  <%= link_to "カテゴリ作成", new_category_path %>
</p>
<p>
  <%= link_to "新規記事作成", new_article_path %>
</p>

<p>
  <%= paginate(@articles) %>
</p>