<% if params[:mysearch].blank? == false %>
  <h1 class="text-center">My Articles</h1>
<% else %>
  <h1 class="text-center">Articles</h1>
<% end %>

<div class="container-fluid">
  <div class="col-xs-10 col-xs-offset-1">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="border-bottom: none"><h3></h3></th>
            <th><h3>Title</h3></th>
            <th><h3>Author</h3></th>
            <th><h3>Content</h3></th>
            <th><h3>Image</h3></th>
            <th><h3>Category</h3></th>
            <th><h3>Date</h3></th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td style="background: white; border-bottom: none; border-top: none; padding: 0px">
                <%= image_tag 'new.png', size: "45x30", class: "img-responsive" if (Time.zone.now - article.created_at) < 10800 %>
            </td>
            <td>
              <%= link_to article.title, article_path(article.id) %>
              <% if user_signed_in? %>
                <% if current_user.id == article.userid %><br>
                  <div class="btn-group btn-group-xs">
                    <%= link_to "Edit", edit_article_path(article.id), :class => "btn btn-warning" %>
                    <%= link_to "Delete", article_path(article.id), :class => "btn btn-danger", method: :delete, data: {
                        confirm: "are you sure?"} %>
                  </div>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= User.find(article.userid).username %>
            </td>
            <td>
              <% if article.body.size > 15 %>
                <%= article.body.truncate(15) %>
                <%= link_to "(read more)", article_path(article.id) %>
              <% else %>
                <%= article.body %>
              <% end %>
            </td>
            <td>
              <% if article.picture? %>
                <%= image_tag article.picture.url, size: "50x30", class: "img-responsive" %>
              <% else %>
                <%= image_tag 'noimage.jpg', size: "50x30", class: "img-responsive" %>
              <% end %>
            </td>
            <td>
              <%= article.category_id == -1 ? "カテゴリなし" : article.category.name %>
            </td>
            <td>
              <%= article.created_at.strftime("%Y-%m-%d<br/>%H:%M:%S").html_safe %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="container">
      <div style="text-align:center">
        <%= paginate(@articles) %>
      </div>
</div>
