<h1 class="text-center">全記事一覧</h1>
<div class="container">
  <div class="row">
      <% if @category %>
          カテゴリ検索 "<%= @category.name %>"
      <% end %>

    <div class="col-xs-10 col-xs-offset-1">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><h3>Title</h3></th>
            <th><h3>Author</h3></th>
            <th><h3>Content</h3></th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
          <tr>
              <td>
                  <%= link_to article.title, article_path(article.id) %>
                  <% if user_signed_in? %>
                      <% if current_user.id == article.userid %>
                          <%= link_to "[Edit]", edit_article_path(article.id) %>
                          <%= link_to "[Delete]", article_path(article.id), method: :delete, data: {
                              confirm: "are you sure?"} %>
                      <% end %>
                  <% end %>
              </td>
              <td>
                 <%= User.find(article.userid).username %>
              </td>
              <td>
                <% if article.body.size > 15 %>
                    <%= article.body.truncate(15) %>
                    <%= link_to "(read more)", article_path(article.id) %>
                <% else %>
                    <%= article.body %>
                <% end %>
              </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pull-right">
        <% if user_signed_in? %>
            <%= form_tag articles_path, :method => 'get', class: "navbar-form navbar-left" do %>
                <!--<%= text_field_tag :mysearch, params[:placeholder] = params[:mysearch] %>-->
                <%= submit_tag "my Article Search",name: "mysearch", :class => 'btn btn-warning' %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
      <div style="text-align:center">
        <%= paginate(@articles) %>
      </div>
  </div>
</div>

<p>
  <%= link_to "カテゴリ作成", new_category_path %>
</p>

</div>